<nav class="container-fluid navbar">
  <div class="container">
    <div class="nav-brand">
      <a href="/">
        <img class="logo" src="assets/images/logo.png" alt="" />
      </a>
    </div>
    <div class="login">
      <a href="/login">Login</a>
    </div>
    <div class="nav-toggle">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</nav>

<section class="container-fluid">
  <div class="container page-content">
    <div class="navigation col-lg-4">
      <div class="close">
        <i class="fa fa-times"></i>
      </div>
      <ul>
        <li class="nav-item">
          <a class="nav-link" href="/attendance">
            <h4>Điểm danh bắt đầu/ Kết thúc làm</h4>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/user-detail">
            <h4>Xem/ Sửa thông tin cá nhân</h4>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/statistics">
            <h4>Tra cứu thông tin giờ làm - lương</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/covid">
            <h4>Thông tin Covid cá nhân</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/attendance-details">
            <h4>Dữ liệu giờ làm</h4>
          </a>
        </li>
      </ul>
    </div>
    <div class="main col-lg-8">