.user-message {
  margin: auto;
  width: 40%;
  border: 1px solid #4771fa;
  padding: 1rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  font-weight: 600;
  color: red;
  border-color: red;
  background: rgb(255, 176, 176);
}

